.inputBlock{
    display: flex;
    width: 90%;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
    border: 0.2px solid gray;
    height: fit-content;
}

.input {
    background-color: #050f1377;
    color: white;
    margin: 0;
    width: 100%;
    padding: 4px 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;

}
.input::placeholder{
    color: white;
}
input:focus::placeholder {
    color: rgb(189, 189, 189);
  }
.input:focus{
    color: rgb(189, 189, 189);
}
.searchBtn{
    height: 36px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 8px;
    box-sizing: border-box;
    border-left: 1px solid gray;
    background-color: #02141a;
    transition: all 0.3s ease-in-out;
}
.searchBtn > img{
    width: 20px;
    height: 20px;
    filter: invert(75%);
}
.searchBtn:hover{
    background-color: #102d3793;
    filter: invert(40%);
}