.header {
    width: 100vw;
    height: 9vh;
    min-height: 45px;
    display: flex;
    background-color: #1e3942;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    box-shadow: rgba(50, 50, 93, 0.631) 0px 13px 27px -5px, rgba(0, 0, 0, 0.686) 0px 8px 16px -8px;
    position: sticky;
    top: 0;
    white-space: nowrap;
    left: 0;
    user-select: none;
    z-index: 999;
}
.header >a{
    color: white;
}
.logo{
    text-transform: uppercase;
    user-select: none;
    font-family: monospace;
    margin: 0;
    font-size: 3rem;
}
.logo:hover{
    color: white;
    pointer-events: none;
    cursor: default;
}

@media screen and (max-width: 1000px) {
    .header{
        height: fit-content;
        flex-direction: column;
    }
    .logo{
        font-size: 4rem;
    }
}
@media screen and (max-width: 385px) {
    .header{
        position: relative;
    }
    .logo{
        font-size: 15vw;
    }
}