.header {
    width: 100vw;
    display: flex;
    background-color: #203A43;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
    box-shadow: rgba(50, 50, 93, 0.631) 0px 13px 27px -5px, rgba(0, 0, 0, 0.686) 0px 8px 16px -8px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.header >a{
    color: white;
}

h1{
    font-family: monospace;
    margin: 0;
    font-size: 4rem;
}