:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card: 65;

}
.header {
    width: 100vw;
    display: flex;
    background-color: rgb(29, 29, 29);
    color: white;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
    box-shadow: rgba(50, 50, 93, 0.631) 0px 13px 27px -5px, rgba(0, 0, 0, 0.686) 0px 8px 16px -8px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.header >a{
    color: white;
}

h1{
    font-family: monospace;
    margin: 0;
    font-size: 4rem;
}
.popularHeader{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: bold;
    padding: 20px 0px;
}
h2{
    font-family: monospace;
    margin: 0;
    font-size: 4rem;
    word-wrap: break-word;
    white-space: pre-wrap;

}
a{
    color: rgb(33, 33, 33);
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
a:hover {
    color: #000;
}

main{
    width: 95vw;
    margin: 20px 30px;
	column-count: 5;
	column-gap: 15px;
	row-gap: 15px;
}

@media screen and (max-width: 1200px) {
    main{
        column-count: 4;
    }
}

@media screen and (max-width: 900px) {
    main{
        column-count: 3;
    }
}

@media screen and (max-width: 700px) {
    main{
        column-count: 3;
    }
}
@media screen and (max-width: 560px) {
    main{
        column-count: 2;
    }
}
@media screen and (max-width: 400px) {
    main{
        column-count: 1;
    }
}