*,
h1,
h2 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  font-family: sans-serif;
}

@media screen and (max-width: 385px) {
  body {
    overflow: visible;
    height: 100%;

  }
}